html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $body;
  @extend %inter-400;
  font-size: 14px;
  line-height: 1.2; 
  color: $accent;
}

.main {
  flex-grow: 1;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 30px;
  line-height: 1.35;
  color: $title;
  margin-bottom: 40px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 59px;
    height: 3px;
    background-color: $red;
    bottom: -5px;
  }
}

.slider-btn {
  position: absolute;
  border: 1.2px solid $grey;
  cursor: pointer;
  background-color: $body;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 0;
  top: 45%;
  transition: all .3s;

  &:active {
    border: 1.2px solid $title;
  }

  &__next {
    right: -55px;
  }

  &__prev {
    left: -55px;
  }
}

.price-now,
.price-old,
.price-new {
font-size: 16px;
line-height: 1.18;
}


.price-now {
  @extend %inter-700;  
  color: $price;  
}

.price-old {
  @extend %inter-400;  
  text-decoration: line-through;
  color: $darkgrey;
  margin-right: 10px;
}

.price-new {
  @extend %inter-700;  
  color: $red;
}

.article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  
  &__best,
  &__new,
  &__discount {
    font-size: 12px;
    line-height: 1.25;
    padding: 4px 10px;
    border-radius: 2px;
    position: absolute;
    left: 8px;
  }

  &__best {
    background-color: $bestbg;
    top: 9px;
  }

  &__new {
    color: $body;
    background-color: $newbg;
    top: 38px;
  }

  &__discount {
    top: 374px;
    color: $body;
    background-color: $discountbg;
  }

  &__img {
    display: inline-block;
    margin-bottom: 19px;
  }

  &__descr {
    text-align: center;
    margin-bottom: 12px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.breadcrumbs {

  &__inner {
    padding: 15px 0;  
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    color: $darkgrey;
    font-size: 13px;
    line-height: 1.23;
    padding-right: 20px;
    position: relative;

    &::after {
      content: '/';
      position: absolute;
      right: 10px;
    }

    &:last-child {
      color: $red;
      padding-right: 0;
      &::after {
        display: none;
      }
    }  
  }

  &__link {    
    color: inherit;      
  }
}




