html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background-color: $body;
  @extend %inter-400;
  font-size: 14px;
  line-height: 1.2; 
  color: $accent;
}

.main {
  flex-grow: 1;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.title {
  font-size: 30px;
  line-height: 1.35;
  color: $title;
  margin-bottom: 40px;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    width: 59px;
    height: 3px;
    background-color: $red;
    bottom: -5px;
  }
}

.slider-btn {
  position: absolute;
  border: 1.2px solid $grey;  
  background-color: $body;
  width: 42px;
  height: 42px;
  border-radius: 50%;
  padding: 0;
  top: 45%;
  transition: all .3s;

  &:active {
    border: 1.2px solid $title;
  }

  &__next {
    right: -55px;
  }

  &__prev {
    left: -55px;
  }
}

.slick-dots {
  display: flex;
  justify-content: center;

  li {
    margin: 0 7px;
  }

  button {    
    width: 8px;
    height: 8px;
    background-color: $grey;
    border: none;
    border-radius: 50%;
    font-size: 0;
    padding: 0;
  }
}

.slick-active {
  button {
    background-color: $title;
  }
}

.price-now,
.price-old,
.price-new {
  font-size: 16px;
  line-height: 1.18;
}

.price-now {
  @extend %inter-700;  
  color: $price;  
}

.price-old {
  @extend %inter-400;  
  text-decoration: line-through;
  color: $darkgrey;
  margin-right: 10px;
}

.price-new {
  @extend %inter-700;  
  color: $red;
}

.article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 100%;
  
  &__best,
  &__new,
  &__discount {
    font-size: 12px;
    line-height: 1.25;
    padding: 4px 10px;
    border-radius: 2px;
    position: absolute;
    left: 8px;
    
  }

  &__best {
    background-color: $bestbg;
    top: 9px;
  }

  &__new {
    color: $body;
    background-color: $newbg;
    top: 38px;
  }

  &__discount {
    top: 374px;
    color: $body;
    background-color: $discountbg;
  }

  &__img {
    display: inline-block;
    margin-bottom: 19px;
  }

  &__descr {
    text-align: center;
    margin-bottom: 12px;
  }

  &__price {
    display: flex;
    justify-content: center;
    align-items: center;
    // margin-top: auto;
  }
}

.breadcrumbs {

  &__inner {
    padding: 15px 0;  
  }

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    color: $darkgrey;
    font-size: 13px;
    line-height: 1.23;
    padding-right: 20px;
    position: relative;
    transition: all .3s;
    &:hover {
      color: $title;
      text-decoration: underline;
    }

    &::after {
      content: '/';
      position: absolute;
      right: 10px;
    }

    &:last-child {
      color: $red;
      padding-right: 0;
      &::after {
        display: none;
      }
    }  
  }

  &__link {    
    color: inherit;      
  }
}

.filter {      

  position: relative;

  &__item {
    text-align: center;
    &:not(:last-child) {
      margin-right: 30px;
    }

    &:last-child {
      margin-left: auto;
    }   
  }
      
  &__form {
    display: inline-block;
    padding: 20px;
    background: $body;
    box-shadow: 0px 4px 16px rgba(196, 196, 196, 0.29);
    transform: translateY(-500%);   
    z-index: 10;
    position: relative;
    
  }
  
  &__text {
    line-height: 2.35;        
  } 

  &__input {    
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
    &:checked+.filter__checkbox {
      background-image: url('../img/filter.png');
      background-repeat: no-repeat;
      background-position: center;
      background-color: $price;
    }
  }

  &__checkbox {
    width: 20px;
    height: 20px;    
    border: 1px solid $darkgrey;    
    margin-right: 14px;          
  }
  
  &__label {
    display: flex;    
    align-items: center;

    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }

  &__btn {        
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1.35;
    letter-spacing: 0.04em;
    color: $title;
    border: none;
    padding: 0;
    background-color: transparent;
    padding-right: 15px;
    position: relative;
    margin-bottom: 10px;

    &::after {
      content: '';
      position: absolute;
      background-image: url('../img/icons/icons.svg#menuarrow');
      width: 10px;
      height: 10px;
      right: 0;
      top: 4px;
    }  
  }
}

.pagination {

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    margin: 0 7px;  
  }

  &__link {    
    display: flex;
    justify-content: center;
    align-items: center;
    @extend %inter-500;
    font-size: 16px;
    line-height: 1.2;
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    border-radius: 50%;
    &--active {
      border: 1px solid $darkgrey;
    }
  }
}

  



  
  
  







