html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  // background-color: $body;
  // @extend %roboto-400;
  // font-size: 18px;
  // line-height: 1.5; 
  // color: $accent;
}

.main {
  flex-grow: 1;
}

.container {
  // max-width: 1170px;
  // margin: 0 auto;
  // padding: 0 15px;
}

