

@media (max-width: $lg) {

  .header-top {
    &__inner{
      padding: 15px;
    }

    &__link {
      margin-right: 0;      
    }

    &__item {
      margin-bottom: 20px;
    }
  }

  .menu-info,
  .menu-site {
    flex-direction: column;
  }

  .header-bottom {

    &__inner {
      padding: 15px;
    }

    &__menu {
      flex-wrap: wrap;
    }

    &__item {      
      &:not(:last-child){
        margin-right: 15px;       
      }
       margin-bottom: 15px;
    }
  }  

  .banners {
    &__item-img {
      height: 400px;
    }
  }

  .title {
    font-size: 26px;
    margin-bottom: 30px;
  }

  .catalog {

    .items-big {
      margin-bottom: 30px;
    }
 
    &__inner {
      padding-bottom: 40px;
    }
  
   &__item-photo {
     height: auto;
   }   

   &__item-link {
     font-size: 18px;
   }      
  }

  .new {
    &__inner {
      padding-bottom: 40px;
    }
  }

  .contacts {
    &__box {
      padding-top: 0;
    }

    &__image {
      height: auto;
    }

    &__time {
      margin-bottom: 30px;
    }
  }

  .footer {
    &__inner {
      padding: 40px 0 35px;
    }
  }

  .footer-top {
    &__inner{
      margin-bottom: 40px;
    }

    &__menu {
      max-width: 100%;
      margin: 10px;
    }
  }

  .cart {
    &__inner {
      padding: 30px;
      width: 465px;
    }

    &__title {
      font-size: 24px;
      margin-bottom: 30px;
    }
  }
}

@media (max-width: $md){
  .banners {
    &__item-img {
      height: 300px;
    }
  } 
}

@media (max-width: $sm) {
 .header {
  position: relative;

  .menu-info,
  .menu-site {
    position: absolute;
    top: 62px;
    right: 0;
    background-color: $headertop;
    z-index: 10;
    transform: translateY(-200%);
    transition: all .3s;
    &--active {
      transform: translateY(0);
    }
  }

  .menu-info {
    width: 100%;
    padding-left: 15px;
  }

  .menu-site {
    padding-right: 15px;
  }
 }

 .header-top {
   &__btn {
    display: flex;
    width: 30px;
    height: 18px;
    border: none;
    padding: 0;
    background-color: transparent;
    position: relative;

    span {
      width: 100%;
      height: 2px;
      background-color: $grey;
    }

    &::after,
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      background-color: $grey;
    }

    &::after {
      top: 8px;
    }

    &::before {
      bottom: 0;
    }    

   }
  }

  .header-bottom {
    &__btn {
      display: flex;
      justify-content: center;
      width: 100%;      
      padding: 15px;
    }

    &__menu {
      background-color: $body;
      position: absolute;    
      flex-direction: column;   
      width: 100%;  
      text-align: center; 
      z-index: 5;  
      left: 0;  
      transform: translateX(-200%);   
      transition: all .3s;
      &--active {
        transform: translateX(0);
      }      
    }

    &__item {           
      margin: 15px;
    }

    &__link {
      display: block;      
    }
  }

  .item-clothing,
  .item-footwear {
    padding-right: 0;
    &::before{
      display: none;
    }
  }

  .title {
    font-size: 22px;
    margin-bottom: 20px;
  }

  .catalog {

    .items-big {
      margin-bottom: 20px;
    }

    &__items {
      flex-direction: column;
      align-items: center;      
    }

    &__item-link {
      font-size: 16px;
    }

    &__item-card {
      margin-bottom: 20px;
      align-items: center;
    }

    &__item-photo {
      width: 270px;
    }

    &__item {      
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &__item-descr {
      max-width: 270px;
    }   
  }

  .contacts {
    &__inner {
      padding: 40px 0;
      flex-direction: column;
    }

    &__box {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 20px;
    }

    &__adress,
    &__tel,
    &__time {
      font-size: 16px;
      margin-bottom: 15px;
    }
  }

  .footer-top {
    &__inner {
      flex-direction: column;
      margin-bottom: 20px;
    }

    &__title {
      margin-bottom: 15px;
    }
  }

  .cart {
    &__inner {
      padding: 20px;
      width: 100%;
    }

    &__product {
      flex-direction: column;
      align-items: flex-start;
    }

    &__product-descr {
      margin-right: 15px;     
    }

    &__product-image {
      width: 200px;
      height: auto;
      margin-bottom: 10px;
    }  

    &__product-num {
      margin-bottom: 10px;
    }

    &__product-price {
      margin-left: 0;
      align-items: flex-start;

    }

    
  }

  

  
}


