$body: #FFFFFF;
$accent: #44424B;
$headertop: #333152;
$red: #EA4953;
$title: #111111;
$grey: #C4C4C4;

@mixin pseudo_header ($pos: absolute, $content: '', $width: 20px, $height: 20px, $top: 0, $left:0){
  content: $content;
  position: $pos;
  width: $width;
  height: $height;
  top: $top;
  left: $left;
}



$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


%roboto-400 {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

%inter-400 {
  font-family: 'Inter-Regular', sans-serif;
  font-weight: 400;
}

%inter-500 {
  font-family: 'Inter-Medium', sans-serif;
  font-weight: 500;
}

%inter-600 {
  font-family: 'Inter-SemiBold', sans-serif;
  font-weight: 600;
}

%inter-700 {
  font-family: 'Inter-Bold', sans-serif;
  font-weight: 700;
}

%open-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}

%raleway-500 {
  font-family: 'Raleway-Medium', sans-serif;
  font-weight: 500;
}




