@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
    url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import '_reset';
@import '_libs';
@import 'fonts';
@import '_vars';
@import '_global';
@import '_libs';
@import '_forms';
@import '_media';

// header

.header {
  &__inner {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.header-top {  
  background-color: $headertop;

  &__inner {
    padding: 6px 50px 11px;    
  }

  &__menu {
    display: flex;    
    align-items: center;    
  }

  &__link {
    color: $body;
  }
}

.item-logo {
 margin: 0 auto;
}

.item-lang {
  position: relative;
  margin-right: 25px;
  padding-right: 12px;
  &::after {
    content: '';
    position: absolute;
    background-image: url(../img/icons/icons.svg#downarrow);
    width: 8px;
    height: 8px;
    top: 6px;
    right: 0;
  }
}

.item-adress {
  position: relative;
  margin-right: 25px;
  padding-left: 28px;

  &::before {    
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#point);
    background-repeat: no-repeat;  
  }
}

.item-tel {
  position: relative;  
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#phone);
    background-repeat: no-repeat;    
  }
}

.item-search {
  position: relative;
  margin-right: 25px;
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#search);
    background-repeat: no-repeat;    
  }
}

.item-login {
  position: relative;
  margin-right: 25px;
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#user);
    background-repeat: no-repeat;
  }
}

.item-cart {
  position: relative;
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#cart);
    background-repeat: no-repeat;
  }

  span {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;    
    border-radius: 50%;
    background-color: $red;
    font-size: 12px;
    line-height: 17px;    
    text-align: center;
    left: 7px;
    top: 7px;
  }
}

.header-bottom {

  &__inner {
    padding: 25px 15px;
    border-bottom: 1px solid $grey;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child){
      margin-right: 45px;
    }     
  }
  &__link {
    text-transform: uppercase;
    @extend %inter-500;
    color: $title;
    letter-spacing: 0.04em;
  }
}

.item-clothing,
.item-footwear {
  position: relative;
  padding-right: 13px;
  &::after {
    content: '';
    position: absolute;
    background-image: url(../img/icons/icons.svg#menuarrow);
    width: 10px;
    height: 10px;
    top: 3px;
    right: 0;
  }  
}















	


@import '_media';