@mixin font($font_name, $file_name, $weight, $style) {

  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff2") format("woff2"),
    url("../fonts/#{$file_name}.woff") format("woff");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import '_reset';
@import '_libs';
@import 'fonts';
@import '_vars';
@import '_global';
@import '_forms';



.header {
  &__inner {
    max-width: 1440px;
    margin: 0 auto;
  }
}

.header-top {  
  background-color: $headertop;

  &__inner {
    padding: 6px 50px 11px;    
  }

  &__menu {
    display: flex;    
    align-items: center; 
    justify-content: space-between;   
  }

  &__link {
    color: $body;
    transition: all .3s;   

    &:hover {
      text-decoration: underline;
      text-shadow: 0 0.2px $body;
    }
  }

  &__btn {    
    display: none;   
  }


}

.menu-info,
.menu-site {
  display: flex;
  justify-content: space-between;
}

.item-lang {
  position: relative;
  margin-right: 25px;
  padding-right: 12px;
  &::after {
    content: '';
    position: absolute;
    background-image: url(../img/icons/icons.svg#downarrow);
    width: 8px;
    height: 8px;
    top: 6px;
    right: 0;
  }
}

.item-adress {
  position: relative;
  margin-right: 25px;
  padding-left: 28px;

  &::before {    
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#point);
    background-repeat: no-repeat;  
  }
}

.item-tel {
  position: relative;  
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#phone);
    background-repeat: no-repeat;    
  }
}

.item-search {
  position: relative;
  margin-right: 25px;
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#search);
    background-repeat: no-repeat;    
  }
}

.item-login {
  position: relative;
  margin-right: 25px;
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#user);
    background-repeat: no-repeat;
  }
}

.item-cart {
  position: relative;
  padding-left: 28px;

  &::before {
    @include pseudo_header;
    background-image: url(../img/icons/icons.svg#cart);
    background-repeat: no-repeat;
  }

  span {
    position: absolute;
    content: '';
    width: 17px;
    height: 17px;    
    border-radius: 50%;
    background-color: $red;
    font-size: 12px;
    line-height: 17px;    
    text-align: center;
    left: 7px;
    top: 7px;
  }
}

.header-bottom {

  &__inner {
    padding: 25px 15px;
    border-bottom: 1px solid $grey;
  }

  &__menu {
    display: flex;
    justify-content: center;
  }

  &__item {
    &:not(:last-child){
      margin-right: 45px;
    }     
  }
  &__link {
    text-transform: uppercase;
    @extend %inter-500;
    color: $title;
    letter-spacing: 0.04em;
    transition: all .3s;
    &:hover {
      text-decoration: underline;
      text-shadow: 0 0.2px $title;
    }
  }
}

.item-clothing,
.item-footwear {
  position: relative;
  padding-right: 13px;
  &::before {
    content: '';
    position: absolute;
    background-image: url(../img/icons/icons.svg#menuarrow);
    width: 10px;
    height: 10px;
    top: 3px;
    right: 0;    
  }  
}

.header-checkout {
  &__box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
  }

  &__back {
    margin-right: auto;
    position: absolute;  
    color: white;   
    left: 50px;
    padding-left: 20px;
    &::before {
      position: absolute;
      content: '';
      background-image: url(../img/icons/icons.svg#downarrow);
      width: 10px;
      height: 10px;
      left: 0;
      top: 3px;
      transform: rotate(90deg);
    }
    &:hover {
      text-decoration: underline;
      text-shadow: 0 0.2px #fff;
    }
  }
}

.footer {
 background-color: $footerbg;

  &__inner {
    padding: 65px 0 35px;    
  }
}

.footer-top {

  &__inner {
    display: flex;
    justify-content: space-between;
    margin-bottom: 70px;
  }

  &__menu {
    max-width: 230px;
    &:not(:first-child){
      margin-top: 9px;
    }    
  }
  
  &__box {
    display: flex;
  }

  &__box-link {
   margin-right: 9px; 
    transition: all .3s;

    &:hover {
      margin-right: 6px;
    }
  }

  &__box-img {    
    width: 21px;
    height: 21px;
    transition: all .3s;
    &:hover {
      width: 23px;
      height: 23px;
    }
  }

  &__title {
    @extend %inter-500;
    font-size: 18px;
    line-height: 1.45;
    margin-bottom: 28px;
  } 

  &__item {
    margin-bottom: 10px;
  }

  &__link,
  &__adress,
  &__tel {
    line-height: 1.45;
    color: $accent;     
  }

  &__link {
    transition: all .3s;

    &:hover {
      text-decoration: underline;
      text-shadow: 0 0.2px $accent;     
    }
  }

  &__adress {
    margin-bottom: 8px;
  }

  &__time {
    font-size: 13px;
    line-height: 1.45;
    color: $darkgrey;
    margin-bottom: 16px;
  }

  &__tel {
    display: inline-block;
    margin-bottom: 15px;
  }

  &__social {
    display: flex;
  }

  &__social-link {
    
    margin-right: 10px;
    transition: all .3s;
    &:hover {
      margin-right: 8px;
    }
  }

  &__social-img {
    width: 27px;
    height: 27px;
    transition: all .3s;
    &:hover {
      width: 29px;
      height: 29px;
    }
  }
}

.logo-footer {
  &__img {
    margin-bottom: 28px;
  }
}

.footer-bottom {
  &__inner {
    padding-top: 24px;
    border-top: 1px solid $grey;
    display: flex;
    justify-content: space-between;
  }

  &__info,
  &__copy {
    font-size: 12px;
    color: $darkgrey;
  }
}

.banners {
  &__inner {
    padding: 15px 0 40px;
  }

  &__item-img {
    object-fit: cover;
  }
} 

.top-sales {

  &__inner {
    padding-bottom: 40px;
  }
 
  &__item {    
    position: relative;     
    max-width: 270px;      
    margin: auto;     
  }
   
  &__photo {
    object-fit: cover;
  }  
}

.catalog {
  .items-big {
    margin-bottom: 42px;
  }

  &__inner {
    padding-bottom: 75px;
  }

  &__items {
    display: flex;
    justify-content: space-between;     
  }

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
 
  &__item-img {
    margin-bottom: 12px;
  }

  &__item-photo {
    object-fit: cover;
  }

  &__item-title {
    font-size: 20px;
    line-height: 1.2;
    margin-bottom: 6px;
  }

  &__item-link {
    color: $title;
    font-size: 20px;    
    transition: all .3s;
    
    &:hover {
      text-shadow: 0 0.2px $title;
      text-decoration: underline;
    }    
  }

  &__item-descr {
    max-width: 370px;
    color: $darkgrey;
  }
}

.new {

  .article__new {
    top: 10px;
  }

  &__inner {
    padding-bottom: 75px;
  } 

  &__item {
    position: relative;
    max-width: 270px;
    margin: auto;
  }
  
  &__photo {
    object-fit: cover;
  }
}

.contacts {

  .title {
    &::before {
      display: none;
    }
  }

  &__inner {
    padding: 50px 0;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid $grey;
  }

  &__box {
    padding-top: 65px;
    max-width: 315px;
  }  

  &__adress {
    font-size: 20px;
    line-height: 1.45;
    color: $title;
    margin-bottom: 20px;
  }

  &__tel {
    font-size: 18px;
    line-height: 1.16;
    color: $title;
    margin-bottom: 25px;
    display: inline-block;
  }

  &__time {
    font-size: 18px;
    line-height: 1.45;
    color: $darkgrey;
    margin-bottom: 60px;
  }

  &__link {
    padding: 18px 39px;
    border: 1px solid $red;
    color: $red;
    font-size: 15px;
    line-height: 1.2;
    transition: all .3s;
    &:hover {
      text-decoration: underline;
      text-shadow: 0 0.1px $red;
    }
  }

  &__image {
    object-fit: cover;
  }
}

.reviewed,
.recomended {

  .title {
    margin-bottom: 25px;
    &::before {
      display: none;
    }
  }

  &__inner {
    padding-bottom: 65px;
  }    

  &__item {
    position: relative;
    max-width: 270px;
    margin: auto;
  }  

  &__photo {
    object-fit: cover;
  }  
}

.shop {

  .title {
    margin-bottom: 15px;
    &::before {
      display: none;
    }
  }

  &__inner {
    padding: 15px 0 50px;
  }

  &__subtitle {
    display: flex;
    margin-bottom: 35px;
  }

  &__subtitle-item {
    margin-right: 25px;
  }

  &__filters {
    margin-bottom: -255px;
    display: flex;
  }

  &__content {
    .shop__content-items {
      margin-bottom: 48px;
    }    
  }
  
  &__content-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 48px 30px;          
  }

  &__content-item {
    position: relative;
  }
 
  &__content-photo {
    object-fit: cover;
  }

  &__content-link {
    color: $accent;
  }

  &__btn {    
    margin-bottom: 38px;  
  }
}

.jq-selectbox__select {  
  border: none;
  @extend %inter-400;
  font-size: 13px;
  line-height: 16px;
  height: 16px;
  box-shadow: none;
  text-shadow: none;
  background: $body;
  padding: 0 10px;
  width: 110px;
  &:hover {
    background: $body;
    border: none;
  }
}

.jq-selectbox__trigger {  
  border-left: none;
  background-image: url('../img/icons/icons.svg#menuarrow');
  width: 10px;
  height: 10px;
  top: 4px;
  background-repeat: no-repeat;
}

.jq-selectbox__trigger-arrow {  
  display: none;
}

.jq-selectbox__dropdown {  
  margin: 0;
  @extend %inter-400;
  font-size: 13px;
  line-height: 16px;
  border: none;
  top: 0;
  border-radius: 0;
}

.jq-selectbox.focused .jq-selectbox__select {
  border: 1px solid transparent;
}

.jq-selectbox li {
  &:hover {
   background-color: $price;
  }
}

.products {
  
  &__inner{
    max-width: 1440px;
    margin: 0 auto;
    padding: 30px 65px 65px 0;
    display: flex;
  }

  &__slider {
    max-width: 942px;
    width: 100%;
    margin: 0 -3px;
    .products__slider-btn {
      background-color: transparent;
    }
    margin-right: 65px;
  }

  &__slider-img {
    object-fit: cover;
    margin: 0 3px;
  }

  &__slider-btn {
    svg {
      width: 30px;
      height: 30px;
    }    
    position: absolute;
    border: none;
    background-color: $body;
    padding: 0;
    top: 45%;    
    transition: all .3s;
    z-index: 5;
    
    &:hover {
      svg {
        opacity: 0.5;
      }
    }

    &__next {
      right: 15px;
    }

    &__prev {
      left: 15px;
    }
  }

  &__filter-color {
    display: flex; 
    margin-bottom: 50px;   
  }

  &__info-title {
    font-size: 22px;
    line-height: 1.35;
    color: $title;
    margin-bottom: 8px;
  }

  &__info-article {
    color: $darkgrey;
    margin-bottom: 29px;
  }

  &__info-price {
    justify-content: start;
    margin-bottom: 30px;
    .price-new,
    .price-old {
      font-size: 18px;
      line-height: 1.22;
    }
    .price-new {
      margin-right: 10px;
    }
  }

  &__info-ruler {
    padding-left: 25px;
    position: relative;
    margin-bottom: 13px;
    display: inline-block;
    &::before {
      content: '';
      position: absolute;
      background-image: url('../img/icons/icons.svg#ruler');
      width: 17px;
      height: 17px;
      left: 0;
    }
  }

  &__btn {
    max-width: 370px;
    width: 100%;
    margin-bottom: 70px;
  }  

  &__accordion-items {
    max-width: 370px;
  }

  &__accordion-item {
    padding: 0 5px;
    border-bottom: 1px solid $grey;
    &:first-child {
      border-top: 1px solid $grey;
    }
  }

  &__accordion-title {
    @extend %inter-500;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    text-transform: uppercase;     
    padding: 20px 0;
    position: relative;
    cursor: pointer;
    transition: all .3s;
    &:hover {
      color: $darkgrey;
    }
    &::after {
      content: '+';
      position: absolute;
      right: 0;
      top: 20px;
    }
  }

  &__accordion-text {
    margin-bottom: 15px;
    display: none;
  }

  &__accordion-item--active {
    .products__accordion-text {
      display: block;
    }
    .products__accordion-title {
      text-decoration: underline;
      &::after {
        content: '-';
      }
    }
  }
}


.products-color {  

  &__form {
    margin-top: -5px;
    position: relative;
  }
  
  &__input {
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;       
  }

  &__check {
    width: 30px;
    height: 30px;
    border-radius: 50%;    
    position: absolute;    
  }

  &__check-blue {
    background-color: #42C7E0;
  }    

  &__check-grey {
    background-color: #EFEFEF;
    left: 44px;
  }

  &__text {    
    margin: 3px 0 0 105px;
  }

  &__input:checked+.products-color__check::before {
    content: '';
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid #444;    
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.filter-ruler {
  margin-bottom: 15px;
 .jq-selectbox__select {
   width: 370px;
   height: 54px;
   border: 1px solid $grey;   
   padding: 18px 17px;
   font-size: 14px;
   line-height: 1.2;
   color: $accent;
  }

  .jq-selectbox__dropdown {
    font-size: 14px;
    line-height: 1.2;
  }

  .jq-selectbox.focused .jq-selectbox__select {
    border: 1px solid $grey;
  }

  .jq-selectbox__trigger {
    top: 43%;
    right: 20px;
    width: 14px;
    height: 14px;
  }

  .jq-selectbox li {
    min-height: 50px;
    padding: 15px;
  }
}

.checkout {  

  &__inner {
    padding: 82px 0 122px;
    display: flex;
    justify-content: space-between;
  }

  &__title {
    @extend %inter-600;
    font-size: 28px;
    line-height: 1.35;
    color: $title;
    margin-bottom: 47px;
  }
        
  &__forms-agreement {
    text-align: center;
    font-size: 12px;
    line-height: 1.5;
    color: $darkgrey
  }

  &__forms-contract {
    text-decoration: underline;
  }  

  &__content {
    padding: 37px 30px 38px 40px;
    background-color: $footerbg;
    display: flex;
    flex-direction: column;

    .cart__title {
      @extend %inter-500;
      font-size: 20px;
      line-height: 1.35;
      color: $title;
      margin-bottom: 29px;
    }

    .cart__product-descr {
      max-width: 195px;
    }

    .price-old {
      margin-right: 0;
    }
  }

  &__total,
  &__haulage {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
    line-height: 1.35;
    color: $title;
  }

  &__haulage {
    margin-bottom: 22px;
  }

  &__finish {
    padding-top: 24px;
    border-top: 1px solid $grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $title;
    margin-bottom: 50px;
  }

  &__finish-text {
    @extend %inter-600;
    font-size: 18px;
    line-height: 1.6;
  }

  &__finish-sum {
    @extend %inter-700;
    font-size: 20px;
  }

  &__promo {
    padding: 18px 91px;
    border: 1px solid $grey;
    background-color: transparent;
    color: $accent;
  }
}


.checkout-buyer {
  position: relative;
  margin-bottom: 50px;
}

.checkout-delivery {
  margin-bottom: 50px;
}

.checkout-payment {
  margin-bottom: 45px;
}

.box-cart {
  margin-bottom: 5px;
}


















	


@import '_media';